@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
    background-color: hsl(226, 43%, 10%);
}

.OuterProfile {
    background-color: hsl(235, 46%, 20%);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.TopProfile {
    height: 60%;
    background-color: hsl(246, 80%, 60%);
    border-radius: 15px;
    padding-left: 10%;
}

.TextAreaProfile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.ProfileText1 {
    color: hsl(235, 45%, 61%);
    font-size: 0.85vw;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding-top: 2%;
    padding-bottom: 2%;
}

.ProfileText1:hover {
    color: white;
}

.im {
    width: 50%;
    padding-top: 10%;
}

.TopSecText {
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    justify-content: space-around;
}

.report {
    color: rgb(190, 190, 190);
    font-weight: 300;
    font-size: 0.8vw;
}

.name {
    color: white;
    font-size: 2.1vw;
    font-weight: 300;
}

.cardd {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-radius: 15px;
}

.cardContent {
    width: 100%;
    background-color: rgb(28, 31, 74);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.cardContent:hover {
    background-color: hsl(236, 43%, 33%);
}

.cardHeaderBanner {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.cardHeading, .cardHeading:hover {
    color: white;
    font-weight: 500;
    text-decoration: none;
    font-size: 1vw;
}

.cardDots {
    color: hsl(235, 45%, 61%);
    font-weight: 500;
    text-decoration: none;
    font-size: 1.4vw;
}

.cardDots:hover {
    color: white;
}

.cardInfo {
    width: 80%;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
}

.hours, .hours:hover {
    color: white;
    font-size: 2.6vw;
    font-weight: 300;
    text-decoration: none;
}

.lastWeek, .lastWeek:hover {
    color: hsl(235, 45%, 61%);
    font-weight: 400;
    text-decoration: none;
    font-size: 0.8vw;
}

.imClass {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 50px;
    padding-right: 7%;
}

.cardIm {
    width: 25%;
    overflow: hidden;
}

#work {
    background-color: rgb(255, 140, 102);
    background: linear-gradient(0deg, rgba(28,31,74,1) 38%, rgba(255,140,102,1) 38%);
}

#play {
    background-color: hsl(195, 74%, 62%);
    background: linear-gradient(0deg, rgba(28,31,74,1) 38%, hsl(195, 74%, 62%) 38%);
}

#study {
    background-color: hsl(348, 100%, 68%);
    background: linear-gradient(0deg, rgba(28,31,74,1) 38%, hsl(348, 100%, 68%) 38%);
}

#exercise {
    background-color: hsl(145, 58%, 55%);
    background: linear-gradient(0deg, rgba(28,31,74,1) 38%, hsl(145, 58%, 55%) 38%);
}

#social {
    background-color: hsl(264, 64%, 52%);
    background: linear-gradient(0deg, rgba(28,31,74,1) 38%, hsl(264, 64%, 52%) 38%);
}

#selfCare {
    background-color: hsl(43, 84%, 65%);
    background: linear-gradient(0deg, rgba(28,31,74,1) 38%, hsl(43, 84%, 65%) 38%);
}